@model EasyPark.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOverdue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOverdue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRefoundDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRefoundDeposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.CarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lot.LotId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
