@model IEnumerable<EasyPark.Models.Reservation>

@{
    ViewData["Title"] = "預約管理";
}
@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.1.7/css/dataTables.material.css" rel="stylesheet" />
}

<h1>@ViewData["Title"]</h1>

<!-- Button trigger modal -->
<button type="button" class="CreateBtn btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#ResModal">
    <i class="fa-solid fa-folder-plus fa-beat-fade"></i> 新增
</button>

<table id="reservationTable" class="mdl-data-table table-hover text-center" style="width:100%">
    <thead class="text-nowrap">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidUntil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOverdue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRefoundDeposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot)
            </th>
            <th><i class="fa-solid fa-gear"></i></th>
        </tr>
    </thead>
    <tbody>
   </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="ResModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">新增</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body CreateRes">
                ...
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">編輯</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body EditRes">
                ...
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.material.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/reservation.js"></script>
    <script>
    </script>
}