@page
@model LoginModel
@{
    ViewData["Title"] = "MyGo停車場管理系統";
}
@{
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/myloginstyle.min.css" rel="stylesheet" />


    <div class="container">
        <div class="row">
            <h1 class="text-white text-center">@ViewData["Title"]</h1>
        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LoginId" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.LoginId" class="form-label">@Html.DisplayNameFor(m => m.Input.LoginId)</label>
                <span asp-validation-for="Input.LoginId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">@Html.DisplayNameFor(m => m.Input.Password)</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3 text-white">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn mb-4">
                    登入<span></span><span></span><span></span><span></span>
                </button>
            </div>
            <div class="row text-center">
                <div class="form-floating mb-2 col-12 col-xl-4">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="myAStyle">忘記密碼</a>
                </p>
            </div>
                <div class="form-floating mb-2 col-12 col-xl-4">
                <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="myAStyle">註冊會員</a>
                </p>
            </div>
                <div class="form-floating mb-2 col-12 col-xl-4">
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="myAStyle">重寄驗證</a>
                </p>
            </div>
            </div>
        </form>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
