@model EasyPark.Models.MonApplyList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MonApplyList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplyStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.CarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lot.LotId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
