@model IEnumerable<EasyPark.Models.Customer>
@{
    ViewData["Title"] = "用戶管理";
}

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.1.7/css/dataTables.material.css" rel="stylesheet" />
}
<link href="~/css/mycustomer.min.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#customerCreateModal" id="customerCreateBtn">
    <i class="fa-solid fa-folder-plus fa-beat-fade"></i> 新增
</button>

<table id="CustTable" class="mdl-data-table table-hover" style="width:100%">
    <thead class="table-color">
        <tr>
            <th class="text-center">@Html.DisplayNameFor(model => model.Username)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Email)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Phone)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.BlackCount)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.IsBlack)</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="customerCreateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增用戶</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="Createbody">
                <!-- 這裡將通過 AJAX 動態加載表單內容 -->
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="customerEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">編輯用戶</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="Editbody">
                <!-- 動態加載表單內容 -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.material.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/customer.js"></script>
}
