@* @model IEnumerable<EasyPark.Models.Customer>

@{
    ViewData["Title"] = "用戶管理";
}
@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.1.7/css/dataTables.material.css" rel="stylesheet" />
}
<link href="~/css/mycustomer.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>

<style>

</style>
 <p>
     <a asp-action="Create" class="btnS" data-bs-toggle="modal" data-bs-target="#customerCreateModal" id="customerCreateBtn">
         <i class="fa-solid fa-user-plus"></i>
         新增
         <span></span>
     </a>
 </p> 


<table id="CustTable" class="mdl-data-table table-hover text-center" style="width:100%">
    <thead class="table-color">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.BlackCount)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsBlack)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.BlackCount)
                </td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox">
                        @Html.DisplayFor(modelItem => item.IsBlack)
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.UserId" data-bs-toggle="modal" data-bs-target="#customerEditModal" class="customerEditBtn" data-id="@item.UserId"><i class="fa-solid fa-pen-to-square fa-xl testa"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- CreateModal -->
<div class="modal fade" id="customerCreateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">新增用戶</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="Createbody">
                ...
            </div>
        </div>
    </div>
</div>
<!-- EditModal -->
<div class="modal fade" id="customerEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">編輯用戶</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="Editbody">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.material.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script>

        $('#CustTable').dataTable({
                "pagingType": "full_numbers",
                fixedHeader: {
                    header: true
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.1.5/i18n/zh-HANT.json',
                },
            });



        //動態加載Edit內容
        $('.customerEditBtn').on('click', function () {
            var id = $(this).data('id');
            console.log(id);
            $('#Editbody').load(`/MyCustomer/Customer/Edit/${id} #customerEditForm`, function () {
                $(document).on('submit', '#customerEditForm', function (e) {
                    e.preventDefault(); // 防止默認提交行為
                    $.ajax({
                        url: $(this).attr('action'), // 表單的 action URL
                        type: 'POST',
                        data: $(this).serialize(), // 將表單數據序列化
                        dataType: 'Json',
                        success: function (response) {
                            if (response.success) {
                                // 如果成功，關閉模態視窗，並刷新頁面或局部刷新
                                $('#customerEditModal').modal('hide');
                                location.reload(); // 刷新特定部分
                            } else {
                                // 如果失敗，動態替換SweetAlert，顯示錯誤
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "請填入必填欄位!",
                                });
                            }
                        }
                    });
                });
                $('#customerEditModal').modal('show');
            });
        });

        //動態加載Create內容
        $('#customerCreateBtn').on('click', function () {
            $('#Createbody').load('/MyCustomer/Customer/Create #customerCreateForm', function () {
                $(document).on('submit', '#customerCreateForm', function (e) {
                    e.preventDefault(); // 防止默認提交行為
                    $.ajax({
                        url: $(this).attr('action'), // 表單的 action URL
                        type: 'POST',
                        data: $(this).serialize(), // 將表單數據序列化
                        dataType: 'Json',
                        success: function (response) {
                            if (response.success) {
                                // 如果成功，關閉模態視窗，並刷新頁面或局部刷新
                                $('#customerCreateModal').modal('hide');
                                location.reload(); // 刷新特定部分
                            } else {
                                // 如果失敗，動態替換SweetAlert，顯示錯誤
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "請填入必填欄位!",
                                });
                            }
                        }
                    });
                });
                $('#customerCreateModal').modal('show');
            });
        });

    </script>

}
 *@